<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <util:properties id="propsReader" location="classpath:jdbc.properties"/>

    <context:component-scan base-package="cn.**.service,cn.**.dao"/>
    <context:annotation-config/>

    <!-- 数据源（连接池） pool / db -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="#{propsReader[driverClass]}"/>
        <property name="jdbcUrl" value="#{propsReader[jdbcUrl]}"/>
        <property name="user" value="#{propsReader[user]}"/>
        <property name="password" value="#{propsReader[password]}"/>

        <!--<property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="jdbcUrl" value="jdbc\:mysql\://127.0.0.1\:3306/test"/>-->
        <!--<property name="user" value="root"/>-->
        <!--<property name="password" value="root"/>-->

        <property name="minPoolSize" value="2"/>
        <property name="maxPoolSize" value="20"/>
        <property name="maxStatements" value="100"/>
        <property name="checkoutTimeout" value="1800"/>
        <property name="acquireIncrement" value="2"/>
    </bean>

    <!-- sql 会话工厂 : sqlSessionFactory / pool / db -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 加载资源文件 / 别名 / 数据源 / 映射文件 都可让 spring 管理 -->
    </bean>

    <!-- 自动扫描指定包下的映射器，并实例化 mapper 对象 -->
    <!-- 实例化 mapper 对象 : mapper / sqlSessionFactory / pool / db -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.**.dao"/>
    </bean>

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 通过注解使用事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>